{% extends 'base.html.twig' %}

{% block body %}
{% embed 'decorators/_card.html.twig' %}
    {% block header %}
        <div id="menuLogo"></div>
    {% endblock %}

    {% block body %}
    <P>Bienvenue sur Majagx.</P>
    {% endblock %}
{% endembed %}
{% endblock %}