{% block body %}


<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <img src="https://via.placeholder.com/140x100" class="card-img-top" alt="Félicitations,voici ton badge de bienvenu. En esperant que tu puisses gagner pleins d'autres badges." title="Félicitations,voici ton badge de bienvenu. En esperant que tu puisses gagner pleins d'autres badges.">
        <label> Nouvel arrivant </label>
      </div>
    </div>
  </div>
</div>

{% endblock body %}