// PARTIE MENU SIDEBAR

.wrapper {
  position: fixed;
  display: flex;
  align-items: stretch;
  z-index: 10000;
  margin-right: 100px;
}

#sidebar {
  min-width: 200px;
  max-width: 200px;
  min-height: 115vh;
}

#sidebar.active {
  margin-left: -200px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -200px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  background: #012150;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #012150;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #012150;
}

#sidebar ul p {
  color: #fff;
  text-align: center;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #012150;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #012150;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #012150;
}

#menuLogo {
  background-image: url("../img/Logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 100%;
}

#sidebarCollapse {
  position: fixed;
  top: 5px;
  left: 5px;
}

#btn-return {
  position: relative;
  color: #fff;
  left: 145px;
  top: -10px;
}

#btn-return:hover {
  color: #008ab8;
}
