{% extends 'base.html.twig' %}

{% block title %}New TicketAgenda{% endblock %}

{% block body %}
    <h1>Create new TicketAgenda</h1>

    {{ include('ticket_agenda/_form.html.twig') }}

    <a href="{{ path('ticket_agenda_index') }}">back to list</a>
{% endblock %}
