

    <div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        Vos badges
      </div>
      <div class="card-body row">
        {% for badge in badges %}
            <div class="card card-badge  col-4">
                <div class="card-body">
                    <img src="https://via.placeholder.com/140x100" class="vignette" alt="{{ badge.description }}" title="{{ badge.description }}">
                    <label class="badge-lab"> {{ badge.nom }} </label>
                </div>
            </div>
        
        {% endfor %}
        </div>
    </div>
  </div>
</div>
    
