

  <div class="col-10 col-md-5">
    <div class="card">
      <div class="card-header">
        Vos badges
      </div>
      <div class="card-body row">
        {% for badge in badges %}
            <div class="card">
                <div class="card-body">
                    <img src="/img/badgeNA.png" class="vignette" alt="{{ badge.description }}" title="{{ badge.description }}">
                    <label class="badge-lab"> {{ badge.nom }} </label>
                </div>
            </div>
        
        {% endfor %}
        </div>
    </div>
  </div>
