<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Majagx{% endblock %}</title>
          {{ encore_entry_link_tags('app')}}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="wrapper col-md">
            <!-- Sidebar -->
            <nav id="sidebar" class="active">
                <div class="sidebar-header">
                    <i id="btn-return" class="fas fa-arrow-alt-circle-left fa-2x"></i>
                    <div id="menuLogo"></div>
                </div>
                
                <ul class="list-unstyled components">
                    <p> Votre Menu </p> 
                    <li>
                        <a href="#">Acceuil</a>
                    </li>
                    <li>
                        <a href="#profilSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profil</a>
                        <ul class="collapse list-unstyled" id="profilSubmenu">
                            <li>
                                <a href="#">Votre Profil</a>
                            </li>
                            <li>
                                <a href="#">Vos Stats</a>
                            </li>
                            <li>
                                <a href="#">Votre Agenda</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Forum</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#">Nos Articles</a>
                            </li>
                            <li>
                                <a href="#">Nos Didacticiels</a>
                            </li>
                            <li>
                                <a href="#">Vos Interactions</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Votre Equipe</a>
                    </li>
                    <li>
                        <a href="#">Messagerie</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <span><i class="fas fa-bars"></i> Menu </span>
                    </button>

                </div>
            </nav>
        </div>
    <header><div class="header"></div></header>
        <div class="container ombre">
            <div class="col">
                <div class="row">
                    <div class="coin"></div>
                    <div class="ligne"></div>
                    <div class="coin r9"></div>
                </div>
                <div class="row">
                    <div class="colone"></div>
                    <div class="contenu" >
                        {% include 'menu/menu.html.twig' %}
                        
                        {% block body %}
                        {% endblock %}
                    </div>
                    <div class="colone"></div>
                </div>
                <div class="row">
                    <div class="coin r27"></div>
                    <div class="ligne"></div>
                    <div class="coin r18"></div>
                </div>
            </div>
        </div>
        <footer><div class="footer"></div></footer>
         {{ encore_entry_script_tags('app')}}
        {% block javascripts %}{% endblock %}
    </body>
</html>
